/*body {
	padding-bottom: 70px;
}*/
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 120%;
	color: #333333;
}

.navbar {
	min-height: 105px;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

#bs-menu {
	padding-top: 25px;
}

.blue {
	background-color: #00192f;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
    border-radius: 7px;
    color: #ffffff;
}

.select-general {
    border: 1px solid #0088ff;
}

.select-infantil {
    border: 1px solid #98c21a;
}

.select-primaria {
    border: 1px solid #ffc000;
}

.select-secundaria {
    border: 1px solid #7d7d7d;
}

.select-bachillerato {
    border: 1px solid #ff782e;
}

.footerGeneral {
    background-color: #0088ff;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}

.footerInfantil {
    background-color: #98c21a;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}

.footerPrimaria {
    background-color: #ffc000;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}

.footerSecundaria {
    background-color: #7d7d7d;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}

.footerBachillerato {
    background-color: #ff782e;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}

.form_bg {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5px 35px 25px;
}

.formulario {
	margin-top: 200px;
}

.feedback-input {
    background-color: #fbfbfb;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.feedback-input {
    margin-bottom: 10px;
    padding: 13px 13px 13px 54px;
    width: 100%;
}

#button {
	padding-bottom: 22px;
    padding-top: 22px;
    width: 100%;
	border: none;
}

.btGeneral {
	background-color: #0088ff;
	color: white;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: linear;
}

.btGeneral:hover {
	background-color: #0058a6;
}

.btInfantil {
	background-color: #98c21a;
	color: white;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: linear;
}

.btInfantil:hover {
	background-color: #708f13;
}

.btPrimaria {
	background-color: #ffc000;
	color: white;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: linear;
}

.btPrimaria:hover {
	background-color: #dba500;
}

.btSecundaria {
	background-color: #7d7d7d;
	color: white;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: linear;
}

.btSecundaria:hover {
	background-color: #666666;
}

.btBachillerato {
	background-color: #ff782e;
	color: white;
	transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: linear;
}

.btBachillerato:hover {
	background-color: #a14c1d;
}
.form {
	padding-top: 104px;
}
.form-title-general {
	color: #FFFFFF;
}

.redondo {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.redondo span {
    color: white;
    font-size: 50px;
    margin: 0 25px;
    text-align: center;
}

.general {
	background-color: #0088ff;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.infantil {
	background-color: #98c21a;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.primaria {
	background-color: #ffc000;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.secundaria {
	background-color: #7d7d7d;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.bachillerato {
	background-color: #ff782e;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.text-general {
	color: #0088ff;
	margin: 10px 0;
}

.text-infantil {
	color: #98c21a;
	margin: 10px 0;
}

.text-primaria {
	color: #ffc000;
	margin: 10px 0;
}

.text-secundaria {
	color: #7d7d7d;
	margin: 10px 0;
}

.text-bachillerato {
	color: #ff782e;
	margin: 10px 0;
}

.ageneral:hover > .text-general{
	color: #0058a6;	
}

.ageneral:hover > .general {
	background-color: #0058a6;
}

.ainfantil:hover > .text-infantil{
	color: #708f13;	
}

.ainfantil:hover > .infantil {
	background-color: #708f13;
}

.aprimaria:hover > .text-primaria{
	color: #dba500;	
}

.aprimaria:hover > .primaria {
	background-color: #dba500;
}

.asecundaria:hover > .text-secundaria{
	color: #666666;	
}

.asecundaria:hover > .secundaria {
	background-color: #666666;
}

.abachillerato:hover > .text-bachillerato{
	color: #a14c1d;	
}

.abachillerato:hover > .bachillerato {
	background-color: #a14c1d;
}

.informacionG:hover {
	background-color: #0058a6;
}

.informacionI:hover {
	background-color: #708f13;
}

.informacionP:hover {
	background-color: #dba500;
}

.informacionS:hover {
	background-color: #666666;
}

.informacionB:hover {
	background-color: #a14c1d;
}

.a-infantil::before {
	border-bottom: 1px solid #98c21a;
    color: #98c21a;
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    overflow: hidden;
    margin: 15px;
	padding-bottom: 15px;
	position: absolute;
    top: 0;
    transition: max-width 0.5s ease 0s;
}

.a-infantil:hover::before, .a-infantil:focus::before {
	max-width: 100%;
}

.a-primaria::before {
	border-bottom: 1px solid #ffc000;
    color: #ffc000;
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    overflow: hidden;
    margin: 15px;
	padding-bottom: 15px;
	position: absolute;
    top: 0;
    transition: max-width 0.5s ease 0s;
}

.a-primaria:hover::before, .a-primaria:focus::before {
	max-width: 100%;
}

.a-secundaria::before {
	border-bottom: 1px solid #7d7d7d;
    color: #7d7d7d;
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    overflow: hidden;
    margin: 15px;
	padding-bottom: 15px;
	position: absolute;
    top: 0;
    transition: max-width 0.5s ease 0s;
}

.a-secundaria:hover::before, .a-secundaria:focus::before {
	max-width: 100%;
}

.a-bachillerato::before {
	border-bottom: 1px solid #ff782e;
    color: #ff782e;
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    overflow: hidden;
    margin: 15px;
	padding-bottom: 15px;
	position: absolute;
    top: 0;
    transition: max-width 0.5s ease 0s;
}

.a-bachillerato:hover::before, .a-bachillerato:focus::before {
	max-width: 100%;
}

.a-general::before {
	border-bottom: 1px solid #0088ff;
    color: #0088ff;
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    overflow: hidden;
    margin: 15px;
	padding-bottom: 15px;
	position: absolute;
    top: 0;
    transition: max-width 0.5s ease 0s;
}

.a-general:hover::before, .a-general:focus::before {
	max-width: 100%;
}

.vertical-align {
    display: flex;
    align-items: center;
}

a, a:hover {
	text-decoration: none;
}

.barra {
	border-bottom: 3px solid;
    padding: 20px 0;
}

.espacio {
	padding: 40px 0 0 0;
}

.titular {
	font-size: 40px;
	padding-top: 40px;
}

.color-general {
	color: #0088ff;
}

.color-infantil {
	color: #98c21a;
}

.color-primaria {
	color: #ffc000;
}

.color-secundaria {
	color: #7d7d7d;
}

.color-bachillerato {
	color: #ff782e;
}

.titulo {
	font-size: 21px;
	font-weight: bold;
	padding: 35px 0 15px;
}
.recuadro div p {
	font-size: 18px;
	padding: 0 10px;
}

.recuadro {
	border-radius: 30px;
	height: 265px;
	margin-top: -56px;
	padding: 20px;
	text-align: center;
	width: 282px;
}

.rGeneral {
	border: solid 3px #0088ff;
}

.rInfantil {
	border: solid 3px #98c12a;
}

.rPrimaria {
	border: solid 3px #ffc000;
}

.rSecundaria {
	border: solid 3px #7d7d7d;
}

.rBachillerato {
	border: solid 3px #ff782e;
}

.texto-grande {
	font-size: 40px;
	line-height: 120%;
}

.texto-mediano {
	font-size: 30px;
	font-weight: lighter;
	line-height: 120%;
}
.escudo {
	height: 118px;
	width: 103px;
}

.escudoG {
	background: url("../img/escudoG.png") no-repeat;
}

.escudoI {
	background: url("../img/escudoI.png") no-repeat;
}

.escudoP {
	background: url("../img/escudoP.png") no-repeat;
}

.escudoS {
	background: url("../img/escudoS.png") no-repeat;
}

.escudoB {
	background: url("../img/escudoB.png") no-repeat;
}

.escudo span {
    color: white;
    font-size: 50px;
    margin: 0 27px 17px;
    text-align: center;
}

.informacionG {
	color: white;
	font-size: 22px;
	font-weight: lighter;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
	margin: 10px 0 0 0;
	text-decoration: none;
	background-color: #0088ff;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    transition-timing-function: linear;
}

.informacionI {
	color: white;
	font-size: 22px;
	font-weight: lighter;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
	margin: 10px 0 0 0;
	text-decoration: none;
	background-color: #98c12a;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    transition-timing-function: linear;
}

.informacionP {
	color: white;
	font-size: 22px;
	font-weight: lighter;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
	margin: 10px 0 0 0;
	text-decoration: none;
	background-color: #ffc000;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    transition-timing-function: linear;
}

.informacionS {
	color: white;
	font-size: 22px;
	font-weight: lighter;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
	margin: 10px 0 0 0;
	text-decoration: none;
	background-color: #7d7d7d;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    transition-timing-function: linear;
}

.informacionB {
	color: white;
	font-size: 22px;
	font-weight: lighter;
	padding: 10px 0;
	text-align: center;
	border-radius: 7px;
	margin: 10px 0 0 0;
	text-decoration: none;
	background-color: #ff782e;
    transition-duration: 0.5s;
    transition-property: color, background-color;
    transition-timing-function: linear;
}

.text-instalaciones {
	font-size: 21px;
	line-height: 120%;
}

.ul-instalacionesG {
	list-style: url("../img/bolo-general.png");
}

.ul-instalacionesI {
	list-style: url("../img/bolo-infantil.png");
}

.ul-instalacionesP {
	list-style: url("../img/bolo-primaria.png");
}

.ul-instalacionesS {
	list-style: url("../img/bolo-secundaria.png");
}

.ul-instalacionesB {
	list-style: url("../img/bolo-bachillerato.png");
}

.ul-instalaciones li {
	line-height: 140%;
}

.servicios span {
	font-size: 50px;
	margin: 0 25px;
	text-align: center;
}

.serviciosG span {
	color: #0088ff;
}

.serviciosI span {
	color: #98c21a;
}

.serviciosP span {
	color: #ffc000;
}

.serviciosS span {
	color: #7d7d7d;
}

.serviciosB span {
	color: #ff782e;
}

.servicios-texto {
	margin: 0 0 40px;
}
	
.general-img {
	background-image: url("../img/imgGeneral-lg.jpg");
}

.submenu {
	margin-top: -156px;
}

.navbar-default {
	border-color: inherit;
}

table {
	border: solid 1px #AAAAAA;
	font-size: 12px;
}

tr th {
	padding: 10px 0;
	border: solid 1px #EEEEEE;
	color: white;
}

table tr td {
	padding: 10px 0;
	border: solid 1px #EEEEEE;
}

.odd {
	background-color: #DDDDDD;
	border: solid 1px #FFFFFF;
}

.table-infantil tr th {
	background-color: #98c12a;
} 

.table-primaria tr th {
	background-color: #ffc000;
} 

.table-secundaria tr th {
	background-color: #7d7d7d;
} 

.table-bachillerato tr th {
	background-color: #ff782e;
}

.itinerario {
	color: #ff782e;
	font-weight: bold;
}

.rama {
	color: #ff782e;
	font-weight: bold;
}

.dim-img {
	max-height: 100%;
	min-height: 600px;
	width: 100%;
	margin-top: 104px;
}

.eslogan {
	color: #FFFFFF;
	font-weight: lighter;
}

/* The animation code */
@keyframes frase_inout {
  0%   {
    margin-left:-1000px; margin-top:0px;
    color: rgba(255,255,255,0);
  }
  3%  {
    margin-left: 0; 
    color: rgba(255,255,255,1.0);
  }
  15%  {
    margin-left: 0; 
    color: rgba(255,255,255,1.0);
  }
  20%  {
    margin-left:0;
    color: rgba(255,255,255,0);
  }
  21%  {
    margin-left: -1000px;
    color: rgba(255,255,255,0);
  }
}

/* The element to apply the animation to */
.inout{
    animation-name: frase_inout;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    position:absolute;
    margin-left: -1000px;
    color: rgba(255,255,255,1.0);
}

.frase1 {
    animation-delay:0s;
}
.frase2 {
    animation-delay:10s;
}
.frase3 {
    animation-delay:20s;
}
.frase4 {
    animation-delay:30s;
}

/* Remove the ugly line by removing the border */
.navbar-collapse {
  border-top: 0;
}


@media (max-width: 767px) {
	.text-instalaciones {
		padding: 10px 0;
	}
	
	.frases {
		margin-top: 40px;
	}

	.frase1, .frase2, .frase3, .frase4 {
		padding: 15px 0;
		font-size: 20px;
		line-height: 120%;
	}
	
	.eslogan {
		font-size: 26px;
		font-weight: lighter;
		line-height: 120%;
		padding-top: 115px;
	}

	.ancla {
		padding-top: 200px;
		margin-bottom: 100px;
		margin-top: -150px;
	}
	
	.a-general::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
	.a-infantil::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}

	.a-primaria::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
	.a-secundaria::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
	.a-bachillerato::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
}

@media (min-width: 768px) and (max-width: 991px) {
	.text-instalaciones {
		padding: 10px 0;
	}
	.navbar-header {
	  float: none;
	}
	.navbar-left,.navbar-right {
	  float: none !important;
	}
	.navbar-toggle {
	  display: block;
	  margin-top: 30px;
	}
	.navbar-collapse {
	  /* This way the border is *barely* seen */
	  box-shadow: inset 0 0px 0 rgba(255,255,255,0.01);
	}
	.navbar-fixed-top {
	  top: 0;
	  border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
	  display: none!important;
	}
	.navbar-nav {
	  float: none!important;
	  margin: 7.5px -15px;
	}
	.navbar-nav>li {
	  float: none;
	}
	.navbar-nav>li>a {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.collapse.in{
	  display:block !important;
	}
	
	.frases {
		margin-top: 40px;
	}

	.frase1, .frase2, .frase3, .frase4 {
		padding: 15px 0;
		font-size: 20px;
	}
	
	.eslogan {
		font-size: 26px;
		font-weight: lighter;
		padding-top: 40px;
	}

	.ancla {
		padding-top: 200px;
		margin-bottom: 100px;
		margin-top: -150px;
	}
	
	.a-general::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
	.a-infantil::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}

	.a-primaria::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
	.a-secundaria::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
	.a-bachillerato::before {
		margin-left: 15px;
		margin-top: 10px;
		padding-bottom: 5px;
	}
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	.text-instalaciones {
		padding: 10px 80px;
	}

	.frases {
		margin-top: 50px;
	}

	.frase1, .frase2, .frase3, .frase4 {
		padding: 20px 0;
		font-size: 20px;
	}
	
	.eslogan {
		font-size: 26px;
		font-weight: lighter;
		padding-top: 80px;
	}

	.ancla {
		padding-top: 200px;
		margin-top: -100px;
	}
}

@media (min-width: 1200px) {
	.text-instalaciones {
		padding: 10px 80px;
	}

	.frases {
		margin-top: 50px;
	}

	.frase1, .frase2, .frase3, .frase4 {
		padding: 25px 0;
		font-size: 20px;
	}
	
	.eslogan {
		font-size: 26px;
		font-weight: lighter;
		padding-top: 100px;
	}

	.ancla {
		padding-top: 200px;
		margin-top: -100px;
	}
}
